<a href="https://colab.research.google.com/github/saichikane/sai/blob/master/ramacarservices%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

loading dataset in pandas ( if csv file then _csv & if excel then _excel)

In [ ]:
df1 = pd.read_excel('Bookings-2024.xlsx')

In [ ]:
df2 = pd.read_excel('Bookings2023.xlsx')

chechking info regarding dataset ( how many rows/columns/datatype )

In [ ]:
df1.info

<bound method DataFrame.info of                      Date      Time     Booking_ID        Booking_Status  \
0     2024-07-26 14:00:00  14:00:00  CNR7153255142    Canceled by Driver
1     2024-07-25 22:20:00  22:20:00  CNR2940424040               Success
2     2024-07-30 19:59:00  19:59:00  CNR2982357879               Success
3     2024-07-22 03:15:00  03:15:00  CNR2395710036  Canceled by Customer
4     2024-07-02 09:02:00  09:02:00  CNR1797421769               Success
...                   ...       ...            ...                   ...
20402 2024-07-27 19:46:00  19:46:00  CNR9637947510  Canceled by Customer
20403 2024-07-18 05:38:00  05:38:00  CNR4070839222               Success
20404 2024-07-25 12:38:00  12:38:00  CNR2768163393               Success
20405 2024-07-21 07:58:00  07:58:00  CNR7143313454               Success
20406 2024-07-17 02:53:00  02:53:00  CNR4049412680    Canceled by Driver

      Customer_ID Vehicle_Type  Pickup_Location Drop_Location  V_TAT  C_TAT  \
0       CID713523  Prime Sedan      Tumkur Road      RT Nagar    NaN    NaN
1       CID225428         Bike      Magadi Road       Varthur  203.0   30.0
2       CID270156    Prime SUV    Sahakar Nagar       Varthur  238.0  130.0
3       CID581320        eBike       HSR Layout   Vijayanagar    NaN    NaN
4       CID939555         Mini      Rajajinagar   Chamarajpet  252.0   80.0
...           ...          ...              ...           ...    ...    ...
20402   CID868443    Prime SUV    Richmond Town    Whitefield    NaN    NaN
20403   CID902638         Mini       HSR Layout   Tumkur Road  175.0   60.0
20404   CID214557        eBike  Electronic City       MG Road  210.0  105.0
20405   CID110375    Prime SUV         Cox Town    BTM Layout  294.0   90.0
20406   CID420033  Prime Sedan         JP Nagar   Shantinagar    NaN    NaN

                         Canceled_Rides_by_Customer  \
0                                               NaN
1                                               NaN
2                                               NaN
3      Driver is not moving towards pickup location
4                                               NaN
...                                             ...
20402                             AC is Not working
20403                                           NaN
20404                                           NaN
20405                                           NaN
20406                                           NaN

           Canceled_Rides_by_Driver Incomplete_Rides Incomplete_Rides_Reason  \
0      Personal & Car related issue              NaN                     NaN
1                               NaN               No                     NaN
2                               NaN               No                     NaN
3                               NaN              NaN                     NaN
4                               NaN               No                     NaN
...                             ...              ...                     ...
20402                           NaN              NaN                     NaN
20403                           NaN               No                     NaN
20404                           NaN               No                     NaN
20405                           NaN               No                     NaN
20406    Customer was coughing/sick              NaN                     NaN

       Booking_Value Payment_Method  Ride_Distance  Driver_Ratings  \
0                444            NaN              0             NaN
1                158           Cash             13             4.1
2                386            UPI             40             4.2
3                384            NaN              0             NaN
4                822    Credit Card             45             4.0
...              ...            ...            ...             ...
20402            303            NaN              0             NaN
20403            412           Cash             16             3.3
20404           2184           Cash             21             3.9
20405            283            UPI              6             4.2
20406            533            NaN              0             NaN

       Customer_Rating  Vehicle Images
0                  NaN             NaN
1                  4.0             NaN
2                  4.8             NaN
3                  NaN             NaN
4                  3.0             NaN
...                ...             ...
20402              NaN             NaN
20403              3.6             NaN
20404              3.0             NaN
20405              4.7             NaN
20406              NaN             NaN

[20407 rows x 20 columns]>

Want to check how much null value ( If want replcae = fillna , drop = dropna )

In [ ]:
df1.isnull().sum()

Date                              0
Time                              0
Booking_ID                        0
Booking_Status                    0
Customer_ID                       0
Vehicle_Type                      0
Pickup_Location                   0
Drop_Location                     0
V_TAT                          7755
C_TAT                          7755
Canceled_Rides_by_Customer    18326
Canceled_Rides_by_Driver      16753
Incomplete_Rides               7755
Incomplete_Rides_Reason       19612
Booking_Value                     0
Payment_Method                 7755
Ride_Distance                     0
Driver_Ratings                 7755
Customer_Rating                7755
Vehicle Images                20407
dtype: int64

In [ ]:
pecentage_of_missingvalue =df1.isnull().sum()

finding how much percentage null value per columns

In [ ]:
pecentage_of_missingvalue / len(df1) *100

Date                            0.000000
Time                            0.000000
Booking_ID                      0.000000
Booking_Status                  0.000000
Customer_ID                     0.000000
Vehicle_Type                    0.000000
Pickup_Location                 0.000000
Drop_Location                   0.000000
V_TAT                          38.001666
C_TAT                          38.001666
Canceled_Rides_by_Customer     89.802519
Canceled_Rides_by_Driver       82.094379
Incomplete_Rides               38.001666
Incomplete_Rides_Reason        96.104278
Booking_Value                   0.000000
Payment_Method                 38.001666
Ride_Distance                   0.000000
Driver_Ratings                 38.001666
Customer_Rating                38.001666
Vehicle Images                100.000000
dtype: float64

In [ ]:
df1.fillna(0,inplace=True)

In [ ]:
df1.head(100)

,Date,Time,Booking_ID,Booking_Status,Customer_ID,Vehicle_Type,Pickup_Location,Drop_Location,V_TAT,C_TAT,Canceled_Rides_by_Customer,Canceled_Rides_by_Driver,Incomplete_Rides,Incomplete_Rides_Reason,Booking_Value,Payment_Method,Ride_Distance,Driver_Ratings,Customer_Rating,Vehicle Images
0,2024-07-26 14:00:00,14:00:00,CNR7153255142,Canceled by Driver,CID713523,Prime Sedan,Tumkur Road,RT Nagar,0.0,0.0,0,Personal & Car related issue,0,0,444,0,0,0.0,0.0,0.0
1,2024-07-25 22:20:00,22:20:00,CNR2940424040,Success,CID225428,Bike,Magadi Road,Varthur,203.0,30.0,0,0,No,0,158,Cash,13,4.1,4.0,0.0
2,2024-07-30 19:59:00,19:59:00,CNR2982357879,Success,CID270156,Prime SUV,Sahakar Nagar,Varthur,238.0,130.0,0,0,No,0,386,UPI,40,4.2,4.8,0.0
3,2024-07-22 03:15:00,03:15:00,CNR2395710036,Canceled by Customer,CID581320,eBike,HSR Layout,Vijayanagar,0.0,0.0,Driver is not moving towards pickup location,0,0,0,384,0,0,0.0,0.0,0.0
4,2024-07-02 09:02:00,09:02:00,CNR1797421769,Success,CID939555,Mini,Rajajinagar,Chamarajpet,252.0,80.0,0,0,No,0,822,Credit Card,45,4.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2024-07-01 05:03:00,05:03:00,CNR4158584922,Success,CID772392,Auto,Sahakar Nagar,Ramamurthy Nagar,35.0,45.0,0,0,No,0,934,UPI,12,3.3,5.0,0.0
96,2024-07-23 04:01:00,04:01:00,CNR5133236273,Canceled by Driver,CID905849,Prime Plus,Banashankari,Chickpet,0.0,0.0,0,Customer related issue,0,0,615,0,0,0.0,0.0,0.0
97,2024-07-26 08:22:00,08:22:00,CNR5661490576,Success,CID546076,Bike,Magadi Road,Electronic City,56.0,30.0,0,0,No,0,2202,Cash,44,4.7,3.4,0.0
98,2024-07-05 12:36:00,12:36:00,CNR2304446757,Success,CID432144,eBike,Rajarajeshwari Nagar,MG Road,252.0,145.0,0,0,No,0,205,Cash,43,4.1,3.1,0.0
99,2024-07-18 07:21:00,07:21:00,CNR3780555542,Canceled by Customer,CID803813,Mini,Tumkur Road,Chamarajpet,0.0,0.0,Driver asked to cancel,0,0,0,513,0,0,0.0,0.0,0.0

checking shape of table how much row and columns

In [ ]:
df1.shape[0]

20407

want to know index number

In [ ]:
x = df1 ['Customer_ID'
][0]
x.index('D')

2

We want CID as a diffrent columns from customer_id #SCLING

In [ ]:
x = df1['Customer_ID'][0]
x[:x.index("D")]

'CI'

WE WANT CID AS DIFFRENT COLUMNS WITH #
SPILT FUNCTION

In [ ]:
df1['Customer_ID'].str[4:]

In [ ]:
df1['second_part'] = df1['Customer_ID'].str[4:]

In [ ]:
df1.second_part

0        13523
1        25428
2        70156
3        81320
4        39555
         ...
20402    68443
20403    02638
20404    14557
20405    10375
20406    20033
Name: second_part, Length: 20407, dtype: object

We want add this column in our table (second part )